# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# WannierBerri-specific files
Klist.pickle
_dat_files

# Data files
data/*/*.amn
data/*/*.mmn
data/*/*.s?u
data/*/*.u?u
data/*/*_tb.dat
data/*/reduced_*/
data/Fe_Wannier90/Fe_formatted.*
data/GaAs_Wannier90/GaAs_formatted.*
